@{
    //nesta zona escrevemos codigo C#
    ViewData["Title"] = "Eq. 2 Grau";

    string resposta = "" ;
    if (!string.IsNullOrEmpty(ViewBag.X1)) {
        resposta = "As soluções da equação sã0: X1 = " +
        ViewBag.X1 +
        "X2 = " + ViewBag.x2;
    }


}

<!-- nesta zona vamos escrever HTML-->
@* este outro comentario está feito em razor e é invisivel no browser*@


<div class="text-center">
    <h1 class="display-4">Calculo das raizes de uma equação de 2º grau</h1>

</div>

<form>

    <p> Introduza, por favor, os valores dos parâmetros da equação </p>
    <b>a:</b> <input type="text" name="A" /><br />
    <b>b:</b> <input type="text" name="B" /><br />
    <b>c:</b> <input type="text" name="C" /><br />

    <input type="submit" value="Calcular" />



</form>

@* vou recuperar o valor da respostosta, preparada na linha 8*@
@resposta