@{
    //nesta zona escrevemos codigo C#
    ViewData["Title"] = "Home Page";
}

<!-- nesta zona vamos escrever HTML-->
@* este outro comentario está feito em razor e é invisivel no browser*@
<div class="text-center">
    <h1 class="display-4">Calculo das raizes de uma equação de 2º grau</h1>
    
</div>
